.page-footer, .nav-wrapper{
    background: black;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

.is-hidden {
	display: none;
}

//************ Star Styling *************\\
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  display:inline;
}
.rating > span {
  display:inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}

//****************************************\\
