.page-footer, .nav-wrapper{
    background: black;
}

body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

//using this on home page also
.is-hidden {
	display: none;
}

//************ Star Styling *************\\
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  display:inline;
}
.rating > span {
  display:inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
  cursor: pointer;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0;
   color: gold;
}

.col.s4 {
  height: 625px !important;
  margin-bottom: 10px !important;
}

img.activator {
  max-height: 400px !important;
  overflow: hidden !important;
}

div.card-content {
  
}

// #bottomStuff {
//   height: 225px !important;
// }
//
// .card-content {
//   padding: 16px !important;
// }
//
// span.card-title.activator {
//   max-width: 280px !important;
// }
//
// div#bottomStuff > div.card-content {
//   height: 100px !important;
// }
//****************************************\\

.card-reveal {
  background: rgba(255, 255, 255, 0.85) !important;
}
.container{
  margin-top: 30px;
}

///////USER VIEW//////

#search{
  margin-right: 500px;
}

#my-movies{
  padding-left: 180px;
}

#userview-content{
  margin-top: 50px;
}
